*/Library/

*/Temp/

Vuforia/App*/

Vuforia/app/*

Vuforia/app/

/Vuforia/app/*

/Vuforia/app/

*/Vuforia/app/

*/Vuforia/app

Vuforia/app/HoloPOI/obj/x86/Release/resources.resfiles.intermediate

DuplicateVuforia/

HololensRef/

*.meta

VuforiaUnity2017.3/app-HoloScan-addVT/

*.unitypackage

*.VC.VC.opendb
*.iobj
*.ipdb
*.exe
*.tlog
*.log

*.vs
*.pdf

holokitsdk-tango/
Vuforia/
Vuforia-vive/